/* COLORS */
$primary_color: #69bf14;
$secondary_color: #1975c0;
$white_color: #ffffff;
$black_color: #262727;
$dark_gray: #6b6b6b;
$light_gray: #afaeae;
$ultra_light_gray: #F7FAFB;

/* SIZES */
$logo-width: 150px;

/* FONT SIZES */
$ultra_small_text: 12px;
$small-text: 13px;
$standard_text: 14px;
$h1: 50px;
$h2: 40px;
$h3: 20px;
$h3_footer: 15px;
$f_weight_btn: 600;
$f_weight_h: 800;
$f_weight_h1: 900;
$social_i_font_header: 13px;
$social_i_font_footer: 14px;

/* LAYOUT */
$a_spacing: 15px;
$jumbtron_height: 620px;
$small_jumbotron_height: 600px;
$spacing_vertically: 30px;
$padding_20: 20px;
$thick_gray_border: 15px solid #F2F5F8;
$thick_green_border: 15px solid #5AA511;
$thick_primary_border: 15px solid #69bf14;
$footer_padding: 50px;

/* ANIMATIONS */
$social_scale: 1.4;